.verify__loading {
    text-align: center;
    margin: 20px;
}

.verify {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    cursor: pointer;
    padding: 5 10px;
    font-size: 14px;

}

.verified {
    margin-top: 30px;
}